.header {
    margin-bottom: 2.3rem
}
.footer {
    display: grid;
    justify-items: flex-start;
    align-items: flex-end;
    grid-template-columns: 1fr;
    height: 100%;
    color: #FFF;
    .wrapper {
        border-radius: 42px 42px 0 0;
        padding: 3.4rem 2.9rem;
        background: #000;
        width: 100%;
        p {
            font-size: 1.2rem;
            font-weight: 400;
            text-align: center;
            margin-top: 2.1rem;
        }
        // Logo
        img {
            width: 90px;
        }
    } 
    @media (min-width:50em) {
        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3.7rem 5.5rem;
            img {
                width: 127px;
            }
            p {
                font-size: 1.8rem;
            }
        }
    }
}