.wrapper {
  gap: 30px;
  grid-template-columns: auto;
  align-items: center;
  padding: 0.7rem 1.9rem;
  position: fixed;
  height: 100vh;
  background: #fff;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  overflow: hidden;
  .icon {
    margin-top: 1rem;
    width: 100%;
    text-align: right;
  }
  .input {
    margin-top: 2rem;
    min-width: 100%;
    height: 45px !important;
    border: solid #000 1px;
    font-size: 1.8rem;
    font-weight: 500;
  }
  p {
    cursor: pointer;
    justify-self: flex-end;
  }
  // Result container
  .result {
    margin-top: 2rem;
    max-height: 100vh;
    overflow: auto;
    &_item {
      font-size: 1.8rem;
      font-weight: 500;
      margin-top: 1.9rem;
      padding: 1.5rem 1.2rem;
      border-radius: 12px;
      transition: background 0.3s;
    }
    &_item:hover {
      background: rgba(151, 151, 151, 0.1);
    }
  }
  @media (min-width: 50em) {
    width: 394px;
    position: absolute;
    margin-top: 16px;
    top: 100%;
    height: 219px;
    border-radius: 24px;
    .input {
      display: none;
    }

    .icon {
      display: none;
    }
  }
}
